/* BORDES
    =============================== */
.header {
  position: fixed;
  z-index: 4;
  top: 3%;
  left: 0;
  right: 0;
  height: 5%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.main-container.active .header {
  top: 0;
}
.header.active,
.header.active::before {
  height: 10.5%;
}
.header::before {
  content: "";
  background: var(--borders);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height 0.5s cubic-bezier(1, 0, 0, 1);
}
.header-container {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.header-container.active {
  width: 88%;
}
.header-container .logo {
  font-size: 16px;
}
.header-container .logo a {
  display: flex;
  font-weight: bold;
}
.main-container .header-container .logo a span {
  font-weight: bold;
  transform: scaleX(0);
  transform-origin: left;
  width: 0;
  transition: 0.5s 0.5s;
  margin-right: 1px;
}
.main-container.active .header-container .logo a span:first-child {
  margin-right: 7px;
}
.main-container.active .header-container .logo a span {
  transform: scaleX(1);
  transform-origin: right;
  width: 100%;
}

.header-container .languages {
  display: flex;
  align-items: center;
}
.header-container .languages a {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  color: var(--textColorGray);
}

/* BOTTOM
    =============================== */
.bottom {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--borders);
  /* height: 5%; */
  height: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.bottom.active {
  height: 10.5%;
}
.menu-footer {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scaleY(0);
  transition: 0.3s;
}
.menu-footer.active {
  transform: scaleY(1);
}
.menu-footer.active.active-menu {
  transform: scaleY(0);
}
.menu-footer a,
.menu-footer p {
  font-weight: 600;
  font-size: 14px;
}
.menu-footer ul {
  display: flex;
  list-style: none;
}
.menu-footer ul li {
  margin-left: 10px;
}

/* RIGHT
    =============================== */
.right {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--borders);
  /* width: 2.7%; */
  width: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.right.active {
  width: 6%;
}
.right .social-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right .social-container .icon {
  width: 0;
  margin: 4px 0;
  transition: 0.5s;
}
.right.active .social-container .icon {
  width: 14px;
}
.main-container.active .right .social-container .icon {
  width: 14px;
}

/* LEFT
    =============================== */
.left {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--borders);
  /* width: 2.7%; */
  width: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.left.active {
  width: 6%;
}

/* proband0 */
.main-container.active .left,
.main-container.active .right {
  width: 2.7%;
}
.main-container.active .header::before,
.main-container.active .bottom {
  height: 5%;
}

.main-container.active .left.active,
.main-container.active .right.active {
  width: 6%;
}
.main-container.active .header.active::before,
.main-container.active .bottom.active {
  height: 10.5%;
}

@media only screen and (max-width: 600px) {
  /* HEADER
    =============================== */
  .header {
    height: 0px;
  }
  .header.active,
  .header.active::before {
    height: 20px;
  }
  .header-container .logo {
    position: absolute;
    left: 40px;
    top: 30px;
    opacity: 0;
    transition: 0.8s cubic-bezier(1, 0, 0, 1);
  }
  .main-container.active .header-container .logo.active {
    opacity: 0;
  }
  .header-container .logo.active {
    opacity: 0;
    transition: 0.4s cubic-bezier(1, 0, 0, 1);
  }
  .header-container .languages {
    position: absolute;
    z-index: 20;
    left: -40px;
    top: 40px;
    opacity: 0;
    transition: 0.3s 0s;
  }
  .header-container .languages.active {
    left: 40px;
    opacity: 1;
    transition: 0.5s 0.2s;
  }

  /* BOTTOM
    =============================== */
  .bottom {
    height: 0px;
  }
  .bottom.active {
    height: 20px;
  }
  .right {
    width: 0px;
  }
  .right.active {
    width: 20px;
  }
  .right .social-container {
    display: none;
  }
  .left {
    width: 0;
  }
  .left.active {
    width: 0;
  }
  .main-container.active .left,
  .main-container.active .right {
    width: 0;
  }
  .main-container.active .header::before,
  .main-container.active .bottom {
    height: 0;
  }
  .main-container.active .header.active::before,
  .main-container.active .bottom.active {
    height: 20px;
  }
}
