* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 28px;
  font-weight: 900;
}
a {
  color: rgb(47, 47, 47);
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  position: fixed;
  z-index: 4;
  top: 3%;
  left: 0;
  right: 0;
  height: 5%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.main-container.active .header {
  top: 0;
}
.header.active,
.header.active::before {
  height: 10.5%;
}
.header::before {
  content: "";
  background: #fff;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height 0.5s cubic-bezier(1, 0, 0, 1);
}
.header-container {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.header-container.active {
  width: 88%;
}
/* .header-container .logo img {
  width: 25%;
} */
.header-container .logo {
  font-size: 16px;
  font-weight: 900;
}

.header-container .languages {
  display: flex;
  align-items: center;
}
.header-container .languages a {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  color: gray;
}
body#en .main-container.active .languages a:nth-child(1),
body#es .main-container.active .languages a:nth-child(2) {
  color: #000;
}
body#en .main-container .languages a:nth-child(1),
body#es .main-container .languages a:nth-child(2) {
  color: #fff;
  font-weight: 700;
}
body#en .main-container .languages.active a:nth-child(1),
body#es .main-container .languages.active a:nth-child(2) {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 0px;
  }
  .header.active,
  .header.active::before {
    height: 20px;
  }
  .header-container .logo {
    position: absolute;
    left: 40px;
    top: 30px;
    opacity: 0;
    transition: 0.8s cubic-bezier(1, 0, 0, 1);
  }
  /* .main-container.active .header-container .logo {
    opacity: 1;
  } */
  .main-container.active .header-container .logo.active {
    opacity: 0;
  }
  .header-container .logo.active {
    opacity: 0;
    transition: 0.4s cubic-bezier(1, 0, 0, 1);
  }
  .header-container .languages {
    position: absolute;
    z-index: 20;
    left: -40px;
    top: 40px;
    opacity: 0;
    transition: 0.3s 0s;
  }
  .header-container .languages.active {
    left: 40px;
    opacity: 1;
    transition: 0.5s 0.2s;
  }
}
