.main::after,
.main:before {
  content: "";
  position: fixed;
  z-index: -1;
  width: 50%;
  height: 100vh;
  top: 0;
  transition: 1s;
}
.main::after {
  left: 0;
  background-image: radial-gradient(
    circle at right,
    var(--borders),
    /*rgb(235, 235, 235)*/ var(--lightBackground)
  );
}
.main::before {
  right: 0;
  /*background-image: radial-gradient(
    circle at left,
    var(--line),
    var(--darkBackground)
  );*/
  background: var(--darkBackground);
}
.main.active::after {
  width: 80%;
}
.main.active::before {
  width: 20%;
}
main .container {
  max-width: 105rem;
  margin: auto;
}
/* LANDING
    =============================== */
main .sect-1 {
  position: relative;
  height: 100vh;
}
main .sect-2 {
  height: 100vh;
}
main .sect-3 {
  background: var(--lightBackground); /*background: #ecf0f3;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

main .sect-1 .picture {
  position: fixed;
  z-index: 0;
  right: calc(50% - 30rem);
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 1s;
}
main .sect-1 .picture img {
  width: 60rem;
  filter: drop-shadow(0 0 5rem rgba(0, 0, 0, 0.4));
}
/*
.picture img:last-child {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}*/
main.active .sect-1 .picture {
  right: calc(20% - 30rem);
}
/* Name Container */
main .sect-1 .name-container {
  position: fixed;
  z-index: 2;
  bottom: 5%;
  left: 3%;
}
main .sect-1 .name-container .name {
  font-weight: 700;
  font-size: 2.8rem;
}
main .sect-1 .name-container .prof {
  font-size: 1.6rem;
  font-weight: 500;
}
main .sect-1 .name-container .name,
main .sect-1 .name-container .prof,
main .sect-1 .portf-container .name {
  text-transform: uppercase;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.3s 0.5s;
}
main.active .sect-1 .name-container .name,
main.active .sect-1 .name-container .prof,
main.active .sect-1 .portf-container .name {
  opacity: 0;
  transform: scaleY(0);
  transition: 0.3s;
}
main .sect-1 .portf-container .name {
  color: var(--lightBackground);
}
main .sect-1 .portf-container {
  position: fixed;
  z-index: 2;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
}
main .sect-1 .portf-container a {
  font-weight: 700;
  font-size: 2.8rem;
}
main .sect-1 .portf-container img {
  width: 2rem;
}
/* SOBRE MI
    =============================== */
main .sect-2 .container {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 115rem;
  transform: translate(-50%, -50%);
}
main .sect-2 .container h2 {
  width: 50%;
  margin-bottom: 4rem;
  font-size: 2.8rem;
  font-weight: 700;
  transition: 0.5s 0s;
  transform: scaleY(0);
}
main .sect-2 .container span {
  position: relative;
}
main .sect-2 .container span:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.3rem;
  height: 0.8rem;
  width: 100%;
  background: #dddddd;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}
main .sect-2 .container span:hover:before {
  transform: scaleX(1);
}
main .sect-2 .container a {
  color: var(--textColorDark);
  background: var(--lightBackground);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--darkBackground);
  transition: 0.5s 0s;
}
main .sect-2 .container a:hover {
  color: var(--textColorLight);
  background: var(--darkBackground);
}
main .sect-2 .container .bt {
  transform: scaleY(0);
  transition: 0.3s;
}
main.active .sect-2 .container h2,
main.active .sect-2 .container a,
main.active .sect-2 .container .bt {
  transform: scaleY(1);
  transition: transform 0.3s 0.6s;
}
/* BLOG
    =============================== */
main .blog-section {
  position: relative;
  z-index: 2;
  background: var(--darkBackground);
  /*background-image: radial-gradient(
    circle at right,
    var(--line),
    var(--darkBackground),
    var(--darkBackground)
  );*/
}
main .blog-section .container {
  padding: 10rem 0;
}
main .blog-section .container h2 {
  color: var(--textColorLight);
}
main .blog-section .container h2:first-child {
  font-size: 12rem;
  margin-bottom: 2rem;
}
main .blog-section .container h2:last-child {
  font-size: 4rem;
}
/* PORTFOLIO
    =============================== */
main .sect-3 {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
main .sect-3 .container {
  height: auto;
  position: relative;
  display: flex;
  padding: 10rem 0 8rem;
}
main .sect-3 .container .title {
  position: sticky;
  top: 40%;
  height: 50vh;
  width: 40%;
}
main .sect-3 .container .title h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
main .sect-3 .container .title .line {
  width: 20%;
  height: 0.3rem;
  background: var(--line);
  margin: 8px 0 2rem;
}
main .sect-3 .container .title h3 {
  font-size: 2.3rem;
  font-weight: 500;
}
main .sect-3 .container .previews {
  width: 70%;
  margin-left: 5rem;
}
main .sect-3 .container .previews .card {
  position: relative;
  padding: 14px;
  border-radius: 3rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s;
}
main .sect-3 .container .previews .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--lightBackground);
  z-index: 1;
  opacity: 0.5;
  border-radius: 3rem;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: 0.3s;
}
main .sect-3 .container .previews .card:hover::before {
  transform: scaleY(1);
  opacity: 1;
}
main .sect-3 .container .previews .card img {
  width: 100%;
  position: relative;
  border-radius: 18px;
}
main .sect-3 .container .previews .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
main .sect-3 .container .previews .card .content h2 {
  color: var(--textColorDark);
  transition: 0.3s;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  transform: translateY(30rem);
  opacity: 0;
}
main .sect-3 .container .previews .card .content p {
  color: var(--textColorDark);
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 500;
  transform: translateY(30rem);
  opacity: 0;
}
main .sect-3 .container .previews .card .content .links a {
  color: var(--textColorDark);
  background: var(--lightBackground);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0;
  transition: 0s;
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--darkBackground);
}
main .sect-3 .container .previews .card .content .links a:hover {
  color: var(--textColorLight);
  background: var(--darkBackground);
}
main .sect-3 .container .previews .card:hover .content .links a {
  transition: opacity 0.3s 0.6s;
  opacity: 1;
}
main .sect-3 .container .previews .card .content .technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 4rem;
  transform: translateY(30rem);
  transition: 0.3s;
  opacity: 0;
}
main .sect-3 .container .previews .card:hover h2,
main .sect-3 .container .previews .card:hover p,
main .sect-3 .container .previews .card:hover .content .technologies {
  transform: translateY(0rem);
  transition-delay: 0.3s;
  opacity: 1;
}
main .sect-3 .container .previews .card .content .technologies p {
  color: var(--textColorDark);
  font-size: 1.6rem;
  margin: 0 1rem 0 0;
  padding: 0;
}
main .sect-3 .container .previews .card .content .technologies img {
  width: 2rem;
  border-radius: 0;
  margin: 0 0.5rem;
}
/* CONTACT
    =============================== */
main .sect-4 {
  position: relative;
  z-index: 2;
  height: 100%;
  background: var(--darkBackground);
  background: var(--darkBackground);
}
main .sect-4 .container {
  padding: 8rem 0 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
main .sect-4 .contact-left h3 {
  /* width: 70%; */
  color: var(--lightBackground);
  font-size: 5rem;
  font-weight: 700;
}
main .sect-4 .contact-right p {
  color: var(--lightBackground);
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}
main .sect-4 .contact-right .x {
  margin: 3rem 0 2rem;
}
main .sect-4 .contact-right a {
  color: var(--textColorLight);
  border-bottom: 1px solid var(--textColorLight);
  font-size: 2rem;
  font-weight: 500;
}
main .sect-4 .contact-footer-social {
  display: flex;
}
main .sect-4 .icon-footer {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background: var(--lightBackground);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sect-4 .icon-footer a {
  border: none;
}
main .sect-4 .icon-footer img {
  margin-top: 6px;
  width: 4rem;
  padding: 1rem;
}

/* RESPONSIVE
    =============================== */
@media only screen and (max-width: 600px) {
  .main::after,
  .main:before {
    width: 80%;
  }
  .main.active::after {
    width: 100%;
  }
  .main.active::before {
    width: 0%;
  }
  main .sect-1 .picture {
    left: calc(80% - 23rem);
  }
  main .sect-1 .picture img {
    width: 500px;
  }
  main.active .sect-1 .picture {
    left: calc(100% - 22rem);
  }
  /* Name Container */
  main .sect-1 .name-container {
    top: 15%;
    left: 10%;
    opacity: 1;
    transition: 0.3s 0.2s;
  }
  main .sect-1 .name-container .name {
    font-weight: 600;
    font-size: 22px;
  }
  main .sect-1 .name-container .prof {
    font-size: 14px;
  }
  main .sect-1 .portf-container {
    bottom: 55%;
    left: -70%;
    opacity: 1;
    transition: 0.3s 0.2s;
    transform: rotate(-90deg);
  }
  main .sect-1 .name-container.active,
  main .sect-1 .portf-container.active {
    opacity: 0;
    transition: 0.2s;
  }
  main .sect-1 .portf-container .name {
    color: var(--textColorDark);
  }
  main .sect-1 .portf-container a {
    font-size: 22px;
    color: var(--textColorDark);
  }
  main .sect-1 .portf-container img {
    background: var(--textColorDark);
    border-radius: 50%;
    padding: 5px;
    width: 1.2rem;
    margin: 0 0 -3px 0;
    transform: rotate(180deg);
  }
  /* Landing Description */
  main .sect-2 .container {
    top: 30%;
    left: 10%;
    width: 70%;
  }
  main .sect-2 .container h2 {
    width: 100%;
    margin: 3rem 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
  main .sect-2 .container h2 strong {
    font-weight: 600;
  }
  /* Section 3 Portfolio */
  main .sect-3 {
    background: var(--lightBackground);
    height: auto;
  }
  main .sect-3 .container {
    width: 90%;
    padding: 5rem 0;
  }
  main .sect-3 .container a {
    font-weight: 600;
    color: #2c3541;
  }

  /* Section 4 Footer Contact */
  main .sect-4 {
    height: 70vh;
  }
  main .sect-4 .container {
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  main .sect-4 .contact-left h3 {
    font-size: 2.8rem;
    width: 100%;
  }
  main .sect-4 .contact-left {
    margin-bottom: 2rem;
  }
  main .sect-4 .contact-right p {
    font-size: 1.2rem;
  }
  main .sect-4 .contact-right a {
    font-size: 13px;
  }
}
