.scrollTop {
  position: fixed;
  bottom: 80px;
  right: -100px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.9) url(../images/proximo.svg);
  transform: rotate(-90deg);
  border-radius: 6px 6px 0 0;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;
}

.scrollTop.active {
  right: 0;
  visibility: visible;
  opacity: 1;
}

.inner-cursor {
  position: fixed;
  z-index: 10;
  left: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  transform: translate(-50%, -50%);
  background: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s, height 0.3s;
}
.inner-cursor.grow {
  width: 6rem;
  height: 6rem;
  transition: width 0.3s, height 0.3s;
} /*
.outer-cursor {
  position: fixed;
  z-index: 5;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
}*/

@media only screen and (max-width: 600px) {
  .scrollTop {
    bottom: 130px;
    width: 40px;
    height: 40px;
    background-size: 15px;
  }
}
