* {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
  height: 100vh;
  background: #ee524e;
}
.header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 5%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.header.active {
  height: 10.5%;
}
.bottom {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 5%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.bottom.active {
  height: 10.5%;
}
.right {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 3%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.right.active {
  width: 6%;
}
.left {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 3%;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.left.active {
  width: 6%;
}
.header-container {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.header-container.active {
  width: 88%;
}
.text {
  height: 200vh;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 0px;
  }
  .header.active {
    height: 20px;
  }
  .bottom {
    height: 0px;
  }
  .bottom.active {
    height: 20px;
  }
  .right {
    width: 0px;
  }
  .right.active {
    width: 20px;
  }
  .left {
    width: 0;
  }
  .left.active {
    width: 20px;
  }
}
