.bottom {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  /* height: 5%; */
  height: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.bottom.active {
  height: 10.5%;
}
.right {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  /* width: 2.7%; */
  width: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.right.active {
  width: 6%;
}
.right .social-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right .social-container .icon {
  width: 0;
  margin: 4px 0;
  transition: 0.5s;
}
.right.active .social-container .icon {
  width: 14px;
}
.main-container.active .right .social-container .icon {
  width: 14px;
}

.left {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  /* width: 2.7%; */
  width: 0;
  display: flex;
  align-items: center;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
}
.left.active {
  width: 6%;
}

/* proband0 */
.main-container.active .left,
.main-container.active .right {
  width: 2.7%;
}
.main-container.active .header::before,
.main-container.active .bottom {
  height: 5%;
}

.main-container.active .left.active,
.main-container.active .right.active {
  width: 6%;
}
.main-container.active .header.active::before,
.main-container.active .bottom.active {
  height: 10.5%;
}

@media only screen and (max-width: 600px) {
  .bottom {
    height: 0px;
  }
  .bottom.active {
    height: 20px;
  }
  .right {
    width: 0px;
  }
  .right.active {
    width: 20px;
  }
  .right .social-container {
    display: none;
  }
  .left {
    width: 0;
  }
  .left.active {
    width: 0;
  }
  .main-container.active .left,
  .main-container.active .right {
    width: 0;
  }
  .main-container.active .header::before,
  .main-container.active .bottom {
    height: 0;
  }
  .main-container.active .header.active::before,
  .main-container.active .bottom.active {
    height: 20px;
  }
}
